<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have 10+ years of experience as a software engineer and team builder. I have worked at multiple Fortune 500 companies as well as smaller ones. 
        </p>
        <p>
          I'm a hands-on technical leader who has built software products from the ground up, 
		  run large engineering teams, and provided guidance at the board level.  I'm motivated by product 
		  success, fast release iterations, and engineering best practices. 
        </p>
		<p>
          <a href="https://www.linkedin.com/in/andrew-l-hodges/">See my LinkedIn profile</a> for more career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
			    <li>
            Growing global teams that support legacy compute platforms while developing new PaaS for all Expedia Group
    			</li>
			    <li>
            Developed a framework in partnership with Product Management team to priotize multi-year deliverables
    			</li>
			    <li>
            Scaled Vrbo’s edge platform to provide 170K RPS on service mesh across over 20,000 containers at traffic peak
    			</li>
    			<li>
            Built an API routing platform from scratch with OAuth flows to secure, centralize, and standardize millions of requests per hour at CareerBuilder.
    			</li>
          <li>
            Transformed Capital One's legacy on-premise IAM data to utilize flexible cost-effective AWS data lake.
          <li>
            Deployed a cybersecurity monitoring dashboard with Spark processing backend for Capital One.
    			<li>
            Integrated consumer identities across multiple CareerBuilder properties.
    			</li>
    			<li>
            Won 2014 Q2 hackathon for streamlining job applications for job seekers at CareerBuilder.
    			</li>
				<li>
            Won 2017 Q4 Tech Excellence award for delivering NIST dashboard with high velocity and impact at Capital One.
    			</li>
			    <li>
            Co-Presented Vrbo’s Multi-Cloud Traffic Management Strategy at CNCF’s KubeCon + CloudNativeCon 2018
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
