<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				  <b>Running</b>. When it's not over 100 degrees here in Austin, I try to maintain 12 miles a week. The new era of carbon plated shoes really make it a whole different, and better, experience. 
			  </li>
				<li>
				 <b>Machine learning</b>. It is an exciting time for machine learning. I'm currently working through several online classes, and enjoy sharing articles with collegues.
			  </li>
			  <li>
				  <b>Travel</b>. After being introduced to the Grand Canyon at age 11, I have developed an interest in visiting as much of the world as possible. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Developed home automation scripts on SmartThings to get one step closer to a Jetsons style home.
    		</li>
  			<li>
          Completed 20 week training schedule for finishing my first full marathon in March 2018.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           On a mission to visit as many national parks as possible. Current tally is at 19.
  			</li>
  			<li>
  			  Active member of the Austin Cloud meetup group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
